.saved__info {
  padding: 120px 104px 56px;
}

.saved__subtitle {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.5;
}

.saved__title {
  font-family: "RobotoSlab", Courier, monospace;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  max-width: 530px;
  margin: 28px 0 0;
}

.saved__keywords {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 30px 0 0;
}

.saved__keyword {
  font-weight: bold;
}

@media screen and (min-width: 600px) and (max-width: 1300px) {
  .saved__info {
    padding: 90px 40px 32px;
  }

  .saved__subtitle {
    font-size: 14px;
  }

  .saved__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    max-width: 336px;
    margin: 16px 0 0;
  }

  .saved__keywords {
    margin: 16px 0 0;
  }
}

@media screen and (max-width: 600px) {
  .saved__info {
    padding: 64px 16px 32px;
  }

  .saved__subtitle {
    font-size: 14px;
  }

  .saved__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    max-width: 336px;
    margin: 16px 0 0;
  }

  .saved__keywords {
    margin: 50px 0 0;
  }
}
